.page {
    display: none;
}

.page.active {
    display: block;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
}

/* Sidebar sticky  */
.sidebar-sticky ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*  Buttons and Icons   */
.check-mark {
    color: #9c88ff;
    margin-right: -12px;
}

.btn-main {
    color: #fff;
    background-color: #9c88ff;
    border-color: #9c88ff
}

.btn-main:hover {
    color: #fff;
    background: #8c7ae6;
}

.select-box {
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
}

.select-box.active {
    border: 1px solid #9c88ff;
}

.select-box p {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
}

.select-box i.main-icon {
    color: #44bd32;
}

.select-box i.check-mark {
    color: #9c88ff;
}

.select-box span {
    font-size: 0.8rem;
}
